{%extends "base.html" %}
{%block title %}{{Name}}{% endblock %}
{%block content %}
<div class="mid">
<div>
	<div><b>{{Name.email}}</b>&nbsp;|&nbsp;<a href="/logout">Logout</a></div>
</div>

<h1>{{Name.first_name}} {{Name.last_name}}'s Todo Lists</h1>
<a href="list">Create List</a>
<table width="100%" cellpadding="5">
<tr>
<td width="70%">Todo Lists</td><td width="5%">&nbsp;</td>
</tr>
{%for row in List%}
<tr><td><a href="/list/{{row.id}}">{{row.title}}</a></td></tr>
{%endfor%}
</table>
</div>
{% endblock %}